@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
:root{
    --background: hsl(0, 0%, 100%);
    --top-background: hsl(225, 100%, 98%);
    --card-background: hsl(227, 47%, 96%);
    --primary-text: hsl(230, 17%, 14%);
    --secondary-text: hsl(228, 12%, 44%);
    
}
.dark_theme{
    --background: hsl(230, 17%, 14%);
    --top-background:  hsl(232, 19%, 15%);
    --card-background: hsl(228, 28%, 20%);
    --primary-text: hsl(0, 0%, 100%);
    --secondary-text: hsl(228, 34%, 66%);
}
html{
    min-height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-color: var(--top-background);
    font-family: 'Inter', sans-serif;
}
h1{
    color: var(--primary-text);
}
header{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
#button_container{
    display: flex;
    flex-wrap: wrap;
}
#button_container p{
    font-size: 14px;
    color: var(--secondary-text);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: inherit;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background: linear-gradient(to left,hsl(146, 68%, 55%) 60%, hsl(210, 78%, 56%));
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#social_network_container{
    background-color: var(--top-background);
    width: 80%;
    display: flex;
}
.social_network{
    background-color: var(--card-background);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.social_network.facebook{
    border-top-style: groove;
    border-top-color: hsl(208, 92%, 53%);
}
.social_network.twitter{
    border-top-style: groove;
    border-top-color: hsl(203, 89%, 53%);
}
.social_network.instagram{
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    border-image-slice: 1;
}
.social_network.youtube{
    border-top-style: groove;
    border-top-color: hsl(348, 97%, 39%);
}
.icon_user_container{
    width: 100%;
    height: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: inherit;
    align-items: center;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
}
.icon_user_container p{
    color: var(--secondary-text);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 12px;
}
.followers_container{
    margin-top: 0.5rem;
    width: 80%;
    height: 70%;
}
.quantity_followers{
    color: var(--primary-text);
    font-size: 3rem;
    margin-top: -0.5rem;
    margin-bottom: -2rem;
}
.followers{
    width: 80%;
    color: var(--secondary-text);
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    margin-left: 10%;
    font-weight: 800;
}
.balance_container{
    font-size: 12px;
    color: #1EB589;
}
.balance_container.instagram{
    color: #DC414C;
}
#daily_overview_container{
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h2{
    width: 85%;
    color: var(--primary-text);
}
.overview_social_network_container{
    background-color: var(--card-background);
    color: var(--secondary-text);
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
}
.overview_social_network{
    width: 100%;
    height: 30%;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.overview_social_network p{
    font-size: 14px;
    color: var(--secondary-text);
}
.overview_social_network .icon{
    margin-top: -1rem;
}
.overview_balance{
    width: 100%;
    height: 20%;
    margin-top: 1.5rem;
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: space-between;
    color: #1EB589;
}
.overview_balance p{
    color: var(--primary-text);
    font-size: 20px;
    margin-top: -.5rem;
    text-align: left;
    width: 70%;
}
.overview_balance .icon_up{
    width: 8px;
    height: 4px;
    margin-top: .4rem;
    margin-left: 0.5rem;
}
.overview_balance.youtube{
    color: #DC414C;
}
@media (max-width: 1440px) {
    header{
        margin: 2% 10% 3% 10%;
        height: 30%;
    }
    #title_container{
        width: 80%;
    }
    #title_container p{
        color: #8E8E91;
        font-size: 12px;
        margin-top: -2%;
    }
    #button_container{
        width: 20%;
    }
    #button_container p{
        width: 40%;
        margin-top: 2%;
        margin-left: 20%;
    }
    #social_network_container{
        margin: -2% 10% 0% 10%;
        justify-content: space-between;
    }
    .social_network{
        width: 13rem;
        height: 13rem;
    }
    #daily_overview_container{
        margin-top: -10%;
        padding-top: 10rem;
        flex-direction: row;
    }
    .overview_social_network_container{
        width: 20%;
        margin-bottom: 3%;
    }
}
@media (max-width: 420px) {
    html{
        width: 100%;
        height: 100%;
    }
    header{
        height: 15%;
        margin: 5% 10%;
    }
    #title_container{
        width: 100%;
        height: 70%;
        font-size: 12px;
        margin-bottom: 2%;
        border-bottom: 1px solid #8E8E91;
    }
    #button_container{
        width: 100%;  
    }
    #button_container p{
        margin-left: 0;
        width: 80%;
    }
    #social_network_container{
        margin-top: 10%;
        flex-direction: column;
    }
    .social_network{
        width: 100%;
        margin-top: 5%;
    }
    #daily_overview_container{
        flex-direction: column;
        background-color: inherit;
    }
    .overview_social_network_container{
        width: 100%;
        margin-bottom: 5%;
    }

}